/* CSS RULES FOR CONTENT LOGO */
section {
  font-size: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-size: 1.6em;
  font-weight: 600;
  font-style: italic;
}

.frame {
  position: relative;
  width: 100%;
  height: 28em;
  /* background: #18c9a3; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  width: 20em;
  height: 20em;
  background: url(images/fp.jpg);
  background-size: contain;
  border-radius: 50%;
  filter: brightness(0.9) contrast(1.5);
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 7.2em;
}

.text .pre span:nth-child(1),
.text .pre span:nth-child(2),
.text .pre span:nth-child(3) {
  position: absolute;
  left: 50%;
  top: -10%;
  font-size: 1.2em;
  transform-origin: 0 12em;
}

.text {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.text p:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateTextRigth 10s linear infinite;
}

.text p:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateTextLeft 10s linear infinite;
}
@keyframes rotateTextRigth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateTextLeft {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
